

.heart {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
  background-position: 0 0;
  background-size: cover;
  cursor: pointer;
  animation: fave-heart 1s steps(28);
}

.heartAnimation {
  background-position: -1400px 0;
  transition: background 1s steps(28);
}


