#PostEntryContainer {
  background-color: transparent;
  width:60%;
  margin: auto;
}

#PostEntry {
  background-color: white;
  width:100%;
  box-shadow:rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
  border-radius: 1%;
  margin-top:10px;
}

.PostEntryAvatar {
  display: inline-block;
  vertical-align: top;
  z-index: 100;
  padding-top: 5px;
  padding-left: 5px;
  cursor: pointer;
}

.postEntryInitialAvatar {
  width:40px;
  height:40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #53ACA8;;
  border-radius: 100%;
}

.postEntryInitials {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 20px;
}


#PostEntryAuthor {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  vertical-align: top;
  padding-top: 15px;
  padding-left:15px;
}

#PostEntryMessage {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  padding: 15px;
  padding-bottom: 0px;
  top:0px;
  margin:0;
}

#PostEntryTime {
  display: inline-block;
  vertical-align: top;
  float: right;
  padding-top: 5px;
  padding-right: 10px;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  color:#818181;
}

.Likes {
  display: inline-block;
  vertical-align: top;
  padding-top: 18.5px;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

/*********************
Comments
**********************/
#CommentSection {
  background-color: #F6F7F9;
  border-top-style: solid;
  border-width: 1px;
  border-color: #E9EBEE;

}

#CommentEntryAvatar {
  display:inline-block;
  vertical-align: top;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 2px;
}

#CommentEntryRightContent {
  display: inline-block;
  vertical-align: top;
}

#CommentEntryAuthor {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  padding-top: 10px;
  padding-left: 10px;
  display: inline-block;
}

#CommentEntryMessage {
  margin-top: 0px;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  padding-left: 10px;
}

#CommentCreator {

}

#CommentCreatorAvatar {
  display: inline-block;
  vertical-align: top;
  z-index: 100;
  padding-top: 10px;
  padding-left: 5px;
}

#CommentCreatorInput {
  display: inline-block;
  vertical-align: top;
  padding:20px 0px 0 10px;
  box-sizing: border-box;
  border:none;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  resize: none;
  margin-bottom: 5px;
  overflow: hidden;
  height:auto;
  right:20px;
  width:80%;
  background-color: transparent;
}

#CommentCreatorInput:focus {
  outline:0;
}

