#PostCreator {
  position: relative;
  width:50%;
  background-color: white;
  box-shadow:rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
  margin: auto;
  margin-bottom: 25px;
}

#PostCreatorTop{

}

#PostCreatorAvatar {
  display: inline-block;
  vertical-align: top;
  z-index: 100;
  padding-top: 5px;
  padding-left: 15px;
}

#PostCreatorInput {
  display: inline-block;
  vertical-align: top;
  padding:15px 0px 0 10px;
  box-sizing: border-box;
  border:none;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  resize: none;
  margin-bottom: 5px;
  overflow: hidden;
  height:auto;
  right:20px;
  width:80%;
}

#PostCreatorInput:focus {
  outline: none;
}

#ActionBar {
  height: 40px;
  bottom:0px;
  border-top-style: solid;
  border-width: 1px;
  border-color: #E9EBEE;
  position: relative;
}

#PostButton {
  right:10px;
  font-family: 'Roboto', sans-serif;
  border: none;
  background-color: #6AC1B8;
  color: white;
  top:10px;
  width:50px;
  height:25px;
  border-radius: 9%;
  position:absolute;
}


#AttachMediaButton {
  position: absolute;
  left:0px;
  border: none;
  top:9px;
  width:25px;
  height:25px;
  background-color: transparent;
}

#AttachFileButton {
  position: absolute;
  left:40px;
  border: none;
  top:9px;
  width:25px;
  height:25px;
  background-color: transparent;
}